---
import { Image } from "astro:assets";
import footerLogoColor from "../../../public/images/brand/pool4you-logo-full-color.svg";
import footerLogoBlack from "../../../public/images/brand/pool4you-logo-full-black.svg";
---

<div class="footer-logo">
  <Image
    src={footerLogoBlack}
    alt=""
    aria-hidden="true"
    class="footer-logo-image footer-logo-image-light"
    loading="lazy"
    decoding="async"
  />

  <Image
    src={footerLogoColor}
    alt=""
    aria-hidden="true"
    class="footer-logo-image footer-logo-image-dark"
    loading="lazy"
    decoding="async"
  />
</div>