---
type Props = {
  translation: {
    title: string;
    text: string;
  };
};

const { translation } = Astro.props as Props;
---

<section class="facilities-intro section">
  <div class="site-container-wide">
    <h2>{translation.title}</h2>
    <p>{translation.text}</p>
  </div>
</section>