@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Libertinus Serif";
  src: url("/src/assets/fonts/libertinus-serif-v1-cyrillic_latin-regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Libertinus Serif";
  src: url("/src/assets/fonts/libertinus-serif-v1-cyrillic_latin-600.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Libertinus Serif";
  src: url("/src/assets/fonts/libertinus-serif-v1-cyrillic_latin-700.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}

.font-libertinus {
  font-family: "Libertinus Serif", serif;
}
