:root {

  --color-gold: #d3b368; /* PRIMARY ACCENT */
  --color-gold-hover: #a8925f; /* PRIMARY ACCENT ALT - BUTTON HOVERS */
  --color-gold-subtle: #d9c48a; /* DECORATIVE GOLD TINTS */

  --color-bg: #ffffff; /* MAIN PAGE BACKGROUND */
  --color-bg-secondary: #f9f9f9; /* SECTION BACKGROUND */
  --color-bg-warm: #ece7dc; /* CTA SECTIONS, ACCENT BLOCKS - BACKGROUND */
  --color-surface: #ffffff; /* CARDS, MODALS */

  --color-text: #111111; /* MAIN BODY TEXT */
  --color-text-secondary: #6b7280; /* CAPTIONS, META, SECONDARY LABELS*/
  --color-text-muted: #9ca3af; /* PLACEHOLDER, DISABLED */

  --color-border: #e5e7eb; /* DIVIDERS, CARD BORDERS*/
  --color-border-alt: #f2f3f5; /* DIVIDERS, SEPARATORS ALT */


  --color-dark-bg: #0d0e11; /* MAIN PAGE BACKGROUND */
  --color-dark-surface: #15171c; /* CARDS, ACCENT ELEMENTS */
  --color-dark-surface-alt: #1b1e24; /* HOVER STATES, MODALS */

  --color-dark-text: #f9f9f9;
  --color-dark-text-secondary: #9ca3af;

  --color-dark-border: rgba(255, 255, 255, 0.08);

  --font-inter: "Inter", sans-serif;
  --font-libertinus: "Libertinus Serif", serif;

  --header-height: clamp(80px, 6vw, 96px);
  --header-logo-height: clamp(48px, 4vw, 48px);
}

  /* === DARK OVERRIDE === */
[data-theme="dark"] {
  --color-bg: #0d0e11;
  --color-bg-secondary: #15171c;
  --color-bg-warm: #1b1e24;
  --color-surface: #15171c;
  --color-text: #f9f9f9;
  --color-text-secondary: #9ca3af;
  --color-text-muted: #6b7280;
  --color-border: rgba(255, 255, 255, 0.08);
  --color-border-alt: rgba(255, 255, 255, 0.04);
}

@media (max-width: 768px) {
  :root {
    --header-height: 64px;
    --header-logo-height: 42px;
  }
}