---
const { href, label, isActive = false } = Astro.props as {
  href: string;
  label: string;
  isActive?: boolean;
};
---

<a
  href={href}
  data-label={label}
  class:list={[
    "header-link-effect",
    { "header-link-effect-active": isActive },
  ]}
  aria-current={isActive ? "page" : undefined}
>
  {label}
</a>