---
import type { PageKey } from "../../config/pages/pageDefinitions.ts";
import type { Language } from "../../config/i18n/i18n.ts";
import { getPagePath } from "../../config/pages/pagePaths.ts";
import { getPageTranslations } from "../../lib/i18n";
import { primaryNav } from "../../config/navigation/navigationItems";
import HeaderLink from "./HeaderLink.astro";
import HeaderLogo from "../brand/HeaderLogo.astro";
import ThemeToggleIcon from "../ui/ThemeToggle.astro";

const { language, pageKey } = Astro.props as {
  language: Language;
  pageKey: PageKey;
};

const translation = getPageTranslations(language, "header");
---

<!-- border-b border-borderw -->
<header class="bg-site text-text">
  
  <div class="grid min-h-[var(--header-height)] grid-cols-[1fr_auto_1fr] items-center px-6">
    
    <div class="flex justify-self-start items-center">
      <HeaderLogo language={language} />
    </div>

    <nav
      class="flex justify-self-center items-center gap-10"
      aria-label="Main navigation"
    >
      {
        primaryNav.map((key) => (
          <HeaderLink
            href={getPagePath(key, language)}
            label={translation[key]}
            isActive={pageKey === key}
          />
        ))
      }
    </nav>

    <div class="flex justify-self-end" aria-label="Header actions">
      <button
        type="button"
        data-theme-toggle
        class="inline-flex justify-center items-center h-10 w-10 hover:text-brand-gold"
        aria-label="Theme Toggle"
      >
        <ThemeToggleIcon />
      </button>
    </div>
  </div>
</header>
