---
type Props = {
  class?: string;
};
---

<span
  aria-hidden="true"
  class="flex h-8 w-8 shrink-0 items-center justify-center text-text transition-colors duration-300 ease-out group-hover:text-brand-gold group-data-[accordion-state=open]:text-brand-gold"
>
  <svg
    class="h-5 w-5 transition-transform duration-300 ease-out group-hover:scale-[1.25] group-data-[accordion-state=open]:scale-[1.25] group-data-[accordion-state=open]:rotate-180"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    fill="currentColor"
  >
    <path
      d="M12 15.0006L7.75732 10.758L9.17154 9.34375L12 12.1722L14.8284 9.34375L16.2426 10.758L12 15.0006Z"
    />
  </svg>
</span>